/* Cambios globales */

@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&family=Open+Sans:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  --color-desierto: #eee8aa;
  --color-facebook: #1877f2;
  --color-instagram: #c13584;
  --color-github: #26a641;
  --color-letras: #252b33;
  --color-subtitulo: #6c757d;
}

body {
  font-family: "Poppins", sans-serif;
  display: block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-letras);
}

/* Contenedor de cada section */

.container {
  width: 70%;
  max-width: 1320px;
  margin: 0 auto;
}

/* Estilo del header */

.nav-cnt {
  display: flex;
  justify-content: space-between;
  height: 70px;
  align-items: center;
}

.nav-cnt a {
  text-decoration: none;
  color: inherit;
}

/* Estilo Logo */

.logo-txt {
  font-size: 30px;
  font-weight: 700;
}

/* Estilo botones del nav */

.btn-cnt ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  font-weight: 700;
  color: var(--color-letras);
}

.btn-cnt a::after {
  content: "";
  height: 4px;
  width: 0;
  background-color: var(--color-desierto);
  display: block;
  transition: all 0.2s ease;
}

.btn-cnt a:hover::after {
  width: 100%;
}

.obj-btn {
  display: inline-block;
}

.cnt-redes ul {
  display: flex;
  list-style: none;
  gap: 1.4rem;
}

/* Estilo redes */

.cnt-redes i {
  transform: scale(1.3);
  opacity: 0.6;
}

.cnt-redes i:hover {
  transform: scale(1.5);
}

.fa-facebook:hover {
  color: var(--color-facebook);
}

.fa-instagram:hover {
  color: var(--color-instagram);
}

.fa-github:hover {
  color: var(--color-github);
}
/* Fin estilo header */

/* Inicio del estilo del Section1 */
.inicio-cnt {
  background-color: var(--color-desierto);
  min-height: calc(100vh - 70px);
  display: flex;
  align-items: center;
}

.cnt-sec1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Estilo contenedor 1 */

.inicio-box1 h3 {
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.3;
  text-transform: uppercase;
}

.inicio-box1 h1 {
  font-weight: 600;
  font-size: 6.5rem;
  text-transform: uppercase;
  line-height: 1.3;
}

.inicio-box1 h4 {
  font-size: 1.4rem;
  line-height: 1.8;
  font-weight: 100;
}

/* Estilo botones */

.btn-cnt1 {
  line-height: 5;
}

.btn-cnt1 a {
  text-decoration: none;
}

.btn-trb {
  font-size: 1.2rem;
  font-weight: 500;
  color: white;
  background-color: var(--color-letras);
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 50px;
  padding-right: 50px;
}

.btn-contact {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 1rem;
  border-bottom: var(--color-letras);
  border: 1px solid var(--color-letras);
  color: var(--color-letras);
}

/* Estilo contenedor2 */

.inicio-box2 {
  background-color: white;
  border-radius: 50rem;
}

.franco {
  border-radius: 45rem;
  padding: 1rem;
  width: 23.5rem;
}

/* Flecha */

.arrow {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: -200px;
  font-size: 1.3rem;
}

/* Estilo Section2 */

.section2 {
  min-height: 70vh;
  display: flex;
  align-items: center;
}

/* Titulo y subtitulo */

.title {
  text-align: center;
  line-height: 1.8;
}

.title span {
  background-color: var(--color-desierto);
  padding: 5px;
}

.subtitle {
  font-weight: 600;
  font-size: 2.5rem;
  text-align: center;
}

/* Container1 sec2 */

.cnt1-sec2 {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.subcont1 {
  text-align: left;
}

.subcont1 h2 {
  font-size: 2rem;
  font-weight: 400;
}

.subcont1 span {
  text-decoration: underline var(--color-desierto);
  font-weight: 700;
}

.subcont1 p {
  font-size: 1.4rem;
  line-height: 1.8;
}

.subcont2 {
  text-align: center;
  width: 120px;
  height: 120px;
  display: flex;
  flex-direction: column;
  flex-basis: 1700px;
  justify-content: center;
  align-items: center;
}

.contdos {
  background-color: var(--color-desierto);
  width: 120px;
  height: 120px;
  border-radius: 4rem;
  font-size: 10rem;
}

.contdos span {
  position: relative;
  bottom: 60px;
}

/* Container 2 sec2 */

.cnt2-sec2 {
  display: flex;
  justify-content: space-between;
  font-size: 1.1rem;
}

.titles-sec2 {
  opacity: 0.6;
  font-weight: 500;
}

.subtitles-sec2 {
  font-weight: 600;
  font-size: 1.125rem;
  color: var(--color-letras);
}

.subtitles-sec2 a {
  color: inherit;
}

/* Estilo section3 */

.section3 {
  background-color: rgb(248, 249, 250);
  min-height: calc(100vh - 70px);
  padding-top: 100px;
}

.box-cnt-sec3 {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  padding: px;
}

.box-sec3 {
  width: 33.333%;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.box-sec3 i {
  font-size: 3rem;
  font-weight: 900;
  color: var(--color-desierto);
  padding: 15px;
}

.box-sec3 h3 {
  font-size: 1.5rem;
  color: var(--color-letras);
  padding: 15px;
}

.box-sec3 p {
  opacity: 0.6;
  font-weight: 500;
}

/* Estilo section4 */

.section4 {
  min-height: calc(100vh - 70px);
  padding-top: 100px;
}

/* Primer container */

.cont1-sec4 {
  display: flex;
  padding-top: 60px;
}

.sub-box1-sec4 {
  border-left: solid var(--color-desierto);
  padding-left: 15px;
}

.sub-box1-sec4 p {
  padding-top: 10px;
  margin-right: 20px;
}

.sub-box1-sec4 hr {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  opacity: 0.3;
}

.title-sec4 {
  padding-bottom: 10px;
}

/* Segundo container */

.title2-sec4 {
  margin-top: 70px;
  margin-bottom: 30px;
}

.cont2-sec4 {
  display: flex;
}

.sub-box2-sec4 {
  width: 100%;
  margin: 15px;
}

.title-progress {
  font-weight: 600;
  text-align: left;
  margin-bottom: 0.5rem;
  line-height: 1.8;
  margin-top: 0%;
  font-size: 1rem;
}

.progress {
  height: 0.5rem;
  margin-bottom: 1.5rem;
  display: flex;
  background-color: #e9ecef;
  border-radius: 0.25rem;
}

.progress-bar1 {
  width: 65%;
  background-color: var(--color-desierto);
}

.progress-bar2 {
  width: 70%;
  background-color: var(--color-desierto);
}

.progress-bar3 {
  width: 10%;
  background-color: var(--color-desierto);
}

.progress-bar4 {
  width: 10%;
  background-color: var(--color-desierto);
}

.progress-bar5 {
  width: 10%;
  background-color: var(--color-desierto);
}

.progress-bar6 {
  width: 50%;
  background-color: var(--color-desierto);
}

.download-cv {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 7rem;
}

.btn-cv {
  text-decoration: none;
  padding: 1rem 2rem;
  font-size: 1rem;
  border: 1px solid var(--color-letras);
  color: var(--color-letras);
  transition: all 0.5s ease;
}

.btn-cv:hover {
  background-color: var(--color-letras);
  color: white;
}

/* Estilo section5 */

.section5 {
  background-color: rgb(248, 249, 250);
  min-height: calc(100vh - 70px);
  padding-top: 100px;
}

.nav-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 2rem;
  letter-spacing: 0.3px;
  font-weight: 500;
  color: var(--color-subtitulo);
  opacity: 0.8;
  margin-top: 40px;
  margin-bottom: 40px;
}

.items-gallery {
  text-decoration: none;
  color: inherit;
  border-color: var(--color-desierto);
}

.items-gallery:hover {
  height: 4px;
  width: 0;
  transition: all 0.1s ease;
  border-bottom: 4px solid var(--color-desierto);
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
}

.img-cnt {
  width: 31.333%;
  padding: 10px;
  position: relative;
}

.img-cnt img {
  width: 100%;
}

.img-cnt img:hover {
  opacity: 0.5;
  background-color: var(--color-letras);
  transition: all 0.5s ease;
}
